<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>Hello, {{name}}</div>

<form action="/main">
    <button>Ввойти</button>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>

<form action="/registration">
    <button>Зарегистрироваться</button>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>

</body>
</html>